@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,300;1,400&family=Poppins:wght@400;500;600;800;900&display=swap");
body {
  font-family: Arial, Helvetica, sans-serif;

  background-color: #f9f7f1;
}
:root {
  --common-color: #fe7443;
  --heighlit-clr: #222;
}
a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.dashboard-wrapper-sec {
  display: flex;
  padding-top: 10px;
}
/* --------------- */

.dsh-mnu-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}
.dsh-mnu-header p {
  font-size: 15px;
  color: #000000;
  font-family: arial;
  margin-bottom: 6px;
  font-weight: bold;
}
.dsh-mnu-header button {
  border-radius: 5px;
  border: none;
  background-color: #000000;
  color: #fff;
  font-size: 10px;
  padding: 10px 10px;
  line-height: 10px;
  letter-spacing: 0.96px;
  opacity: 0.87;
}
.dsh-items ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dsh-items ul li {
  width: 100%;
  padding: 0 48px;
}
.dsh-items ul li a {
  display: block;
  padding: 7px 10px;
  border-radius: 22px;
}
.dsh-items ul li a .item-dsn {
  position: relative;
}

.dsh-items ul li a .icon-dsn {
  color: #000000;
  border-radius: 50%;
  padding: 0 3px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;

  position: absolute;
  top: 50%;
  left: -23px;
  transform: translate(0%, -50%);
}
.dsh-items ul li a:hover .icon-dsn {
  background-color: #fff;
  color: #000000;
}
.dsh-items ul li a .item-dsn button {
  padding-left: 30px;
  border: none;
  background-color: inherit;
  font-size: 15px;
}
.dsh-items ul li a:hover {
  background-color: var(--common-color);
  color: #fff;
}
.dsh-items ul li a:hover button {
  color: #fff;
}
/* ---------------------- */
.dsh-element-section {
  margin: 0 30px;
  width: 100%;
  padding-bottom: 25px;
}
h2.overview {
  font-size: 30px;
  font-family: bold;
  font-family: poppins;
  font-weight: bold;
}
button.overview-btn {
  border: none;
  background-color: var(--common-color);
  color: #fff;
  font-size: 12px;
  padding: 9px 51px;
  border-radius: 8px;
  letter-spacing: 1.16px;
  position: relative;
}
button.overview-btn::before {
  content: "+";
  position: absolute;
  font-size: 27px;
  top: 50%;
  left: 10px;
  transform: translate(0, -50%);
}
button.refresh-btn {
  border: none;
  background-color: #000000;
  color: #fff;
  font-size: 10px;
  padding: 10px 16px;
  border-radius: 8px;
}
.dsh-header-btm {
  display: flex;
  gap: 60px;
  margin-bottom: 20px;
}
.dsh-header-btm h6 {
  font-size: 16px;
  color: #000000;
  opacity: 0.6;
}

/*=========================
     profile page style
 ========================== */
.profile-section {
}
.profile-section form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* justify-content: center; */
}
.profile-section .profile-frm {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 100px;
  grid-row-gap: 20px;
}
.profile-section .profile-frm .form-item {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.profile-section .profile-frm .form-item label {
  font-size: 16px;
  color: #000000;
  font-family: poppins;
  font-weight: 500;
  margin-bottom: 4px;
}
.profile-section .profile-frm .form-item input {
  height: 50px;
  border-radius: 50px;
  outline: none;
  border: 1px solid #13131340;
  padding: 0 20px;
}
.profile-section .profile-frm .form-item input[type="email"] {
}
.profile-section .profile-frm .form-item input[type="email"]::after {
}
.profile-section .profile-frm .form-item input[type="text"] {
}
.profile-section .profile-frm .form-item input[type="password"] {
}

.form-item.email {
  position: relative;
}
.form-item.email span {
  position: absolute;
  right: 25px;
  top: 42px;
  color: #14c57e;
  font-size: 16px;
  font-family: Poppins;
  font-weight: lighter;
}
.form-item.password {
  position: relative;
}
.form-item.password span {
  position: absolute;
  right: 25px;
  top: 42px;
}
.form-item.password span a {
  color: #fe7443;
  font-size: 16px;
  font-family: Poppins;
  font-weight: lighter;
}
.frm-submit-sec {
  text-align: center;
  margin: 30px 0;
}
.frm-submit-sec input[type="submit"] {
  width: 46%;
  height: 50px;
  border-radius: 50px;
  outline: none;
  border: 1px solid var(--common-color);
  padding: 0 20px;
  background-color: var(--common-color);
  color: #fff;
}

/* =================
  pfl-dvice-section
  ================== */
.pfl-dvice-section {
  background-color: #fff;
  padding: 5px 10px;
  border-radius: 8px;
  padding-bottom: 50px;
}
.pfl-dvice-section .pfl-dvice-hdr {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.pfl-dvice-section .pfl-dvice-hdr span:nth-child(1) {
  font-size: 18px;
  font-weight: 600;
  font-family: poppins;
}
.pfl-dvice-section .pfl-dvice-hdr span:nth-child(2) {
  font-size: 14px;
  font-weight: 500;
  font-family: poppins;
}

.divice-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding-bottom: 15px;
  margin-bottom: 23px;
}
.divice-items .dvc-items-lft {
  display: flex;
  gap: 20px;
}
.divice-items .dvc-items-lft .dvc-img {
}
.divice-items .dvc-items-lft .dvc-img i {
  background-color: #ddd;
  padding: 10px;
  border-radius: 48%;
  color: orangered;
}
.divice-items .dvc-items-lft .dvc-dtl {
}
.divice-items .dvc-items-lft .dvc-dtl h6 {
  font-size: 15px;
  font-family: poppins;
}
.divice-items .dvc-items-lft .dvc-dtl span {
  font-size: 12px;
  opacity: 0.5;
}
.divice-items .dvc-items-rght button {
  background-color: inherit;
  border-radius: 28px;
  padding: 11px 25px;
  font-family: poppins;
  font-weight: 500;
}

.pfl-dvice-section .divice-items:last-child {
  border: none;
}
